.menu{
    text-align: center;
    
}
body{
    background: rgb(6, 8, 20);
}
.menu p {
    color: white;
}
.menu h1{
    color: rgb(255, 255, 255);
    font-size: 80px;
}
.soc-bottons-tg .fa{
    font-size: 150px;
    color: rgb(1, 225, 255);
}
.soc-bottons-tt .fa{
    font-size: 150px;
    color: rgb(255, 136, 0);
}
.soc-bottons-inst .fa{
    font-size: 150px;
    color: rgb(255, 0, 157);
   
}
.menu .img-logo{
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}
.fa{
    margin: 10px;
}
.soc-bottons-call .fa{
    font-size: 150px;
    color: rgb(25, 167, 0);
}
.menu h1{
    margin-bottom: 50px;
}
.menu img{
    height: 200px;
    width: 155px;
}
